table.tensor {
    table-layout: fixed;
    overflow: auto;
}
table.tensor th {
    font-weight: bold;
    width: 4em;
    overflow: hidden;
    background-color: var(--light);
}
table.tensor td {
    width: 4em;
    overflow: hidden;
}
table.tensor td:first-child {
    font-weight: bold;
    background-color: var(--light);
}

svg.heatmap {
    width: 100%;
}