@using DotML.Network.Training

<div class="carousel">
    <VectorizedImage Width=@Width Height=@Height ValueScale=@ValueScale Vector=@current_vector></VectorizedImage>
    <div style="text-align:  center;">
        <button type="button" class="btn btn-primary" @onclick=prev>Prev.</button>
        <button type="button" class="btn btn-primary" @onclick=next>Next</button>
    </div>
</div>

@code {
    private int current_index = 0;
    [Parameter] public int Width {get; set;}
    [Parameter] public int Height {get; set;}
    [Parameter] public TrainingSet? Data {get; set;}
    [Parameter] public int ValueScale {get; set;} = 1;

    private Vec<double>? current_vector => Data is not null && current_index >= 0 && current_index < Data.Size ? (Vec<double>?)Data[current_index].Input : (Vec<double>?)null; 

    private void prev() {
        if (Data is null)
            return;
        if (current_index > 0) {
            current_index--;
        }
    }
    private void next() {
        if (Data is null)
            return;
        if (current_index < Data.Size - 1) {
            current_index++;
        }
    }
}