.results {
    position: relative;
    min-height: 240px;
}

.results > article {
    padding: 12px;
}

.results > .blocker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}