@page "/"
@using System.Reflection
@using System.Diagnostics.CodeAnalysis
@using DotML.Sandbox.Data
@using DotML
@using DotML.Network

<PageTitle>Home</PageTitle>

<article class="p-4">
    <h1 style="text-align: center;">Explore</h1>

    <h2>Classical Neural Networks</h2>
    <section class="p-4">
    <h3>Boolean Operations</h3>
    <div>
        <a class="btn btn-primary" href="not">Boolean Not</a>
        <a class="btn btn-primary" href="and">Boolean And</a>
        <a class="btn btn-primary" href="or">Boolean Or</a>
        <a class="btn btn-primary" href="xor">Boolean Exclusive Or</a>
    </div>

    <h3>Image Recognition</h3>
    <div>
        <a class="btn btn-primary" href="ascii-recognition">Ascii Letters</a>
        <a class="btn btn-primary" href="ocr">OCR</a>
    </div>

    <h3>Games</h3>
    <div>
        <a class="btn btn-primary" href="rock-paper-scissors">Rock Paper Scissors</a>
    </div>
    </section>

    <h2>Convolutional Neural Networks</h2>
    <section class="p-4">
    </section>

    <h2>Stable Diffusion</h2>
    <section class="p-4">
    </section>

    <h2>General Purpose Transformers</h2>
    <section class="p-4">
    </section>

</article>

@code { }
