@page "/"
@using System.Reflection
@using System.Diagnostics.CodeAnalysis
@using DotML.Sandbox.Data
@using DotML
@using DotML.Network

<PageTitle>Home</PageTitle>

<article class="p-4">
    <h1 style="text-align: center;">Explore</h1>

    <h2 style="margin-top: 24px;">Classical Neural Networks</h2>
    <section class="p-4">
        <h3>Boolean Operations</h3>
        <div>
            <a class="btn btn-primary" href="examples/classic/not">Boolean Not</a>
            <a class="btn btn-primary" href="examples/classic/and">Boolean And</a>
            <a class="btn btn-primary" href="examples/classic/or">Boolean Or</a>
            <a class="btn btn-primary" href="examples/classic/xor">Boolean Exclusive Or</a>
        </div>

        <h3>Image Recognition</h3>
        <div>
            <a class="btn btn-primary" href="examples/classic/ascii-recognition">Ascii Letters</a>
            <a class="btn btn-primary" href="examples/classic/ocr">Letter Recognition</a>
        </div>

        <h3>Games</h3>
        <div>
            <a class="btn btn-primary" href="examples/classic/rock-paper-scissors">Rock Paper Scissors</a>
        </div>
    </section>

    <h2 style="margin-top: 24px;">Convolutional Neural Networks</h2>
    <section class="p-4">
        <h3>Boolean Operations</h3>
        <div>
            <a class="btn btn-primary" href="examples/cnn/xor">Boolean Exclusive Or</a>
        </div>

        <h3>Image Recognition</h3>
        <div>
            <a class="btn btn-primary" href="examples/cnn/digit-recognition">Digit Recognition</a>
            <a class="btn btn-primary" href="examples/cnn/letter-recognition">Letter Recognition</a>
            <a class="btn btn-primary" href="examples/cnn/ocr">OCR</a>
            <a class="btn btn-primary" href="examples/cnn/fruit-recognition2">Fruit Recognition <small>MobileNet</small></a>
            <a class="btn btn-primary" href="examples/cnn/fruit-recognition">Fruit Recognition</a>
        </div>
    </section>

    <h2 style="margin-top: 24px;">Residual Neural Networks</h2>
    <section class="p-4">
        <h3>Image Recognition</h3>
        <div>
            <a class="btn btn-primary">Stable Diffusion</a>
        </div>
    </section>

    <h2 style="margin-top: 24px;">General Purpose Transformers</h2>
    <section class="p-4">
    </section>

</article>

@code { }
